*
{
    padding: 0px;
    margin: 0px;
   

}

body
{
    background-image: url("./images/wel.jpg");
    
    height: 100%;
    width: 100%;
    background-size: cover;
}
.form_deg{
    padding-top: 200px;
}
.errs
{
    color: red;
    font-weight: 200;
    font-size: 17px;
}
.lable_deg
{
    display: inline-block;
    color: skyblue;
    width: 100px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

.login_form
{
    background-color: #121212;
    width: 400px;
    padding-top: 70px;
    padding-bottom: 70px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}

.title_deg
{
    background: skyblue;
    color: #fff;
    text-align: center;
    font-weight: bold;
    width: 400px;
    padding: 10px;
    font-size: 32px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
